{% extends 'main/base.html' %}
{% block content %}




<div class="card">
    <div class="card-header">
        venue
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ veneu }}</h5>
        <p class="card-text">
         <ul>
           <li>{{ veneu.addrise}}</li>
           <li>{{ veneu.phone }}</li>
           <li>{{ veneu.email_addriss }}</li>
           <li><a href="{{ veneu.websit }}">{{ veneu.websit }}</a></li>
         </ul>
        </p>
    </div>
</div>



{% endblock %}