{% extends 'main/base.html' %}
{% block content %}
<style>
    h1{
        color: rgb(120, 164, 200);
    }
</style>

<h1>Venues..</h1>
<br/>
<table class="table table-secondary ">
    {% for venue in venue_list %}
    {{ venue }}
    {%if user.is_staff %}
        <tr>
            <td>
                <a href="{% url 'main:show-venue' venue.id %}" class="btn btn-primary btn-sm">{{ venue }}</a>
            </td>
            <td align = "right">
               <a href="{% url 'main:update-venue' venue.id %}"class="btn btn-light btn-sm">Update</a>
               <a href="{% url 'main:delete-venue' venue.id %}"class="btn btn-danger btn-sm">Delete</a>
            </td>

            {% endif %}
        </tr>
    {%  endfor %}
</table>


{% endblock %}