{% extends 'main/base.html' %}
{% block content %}
<style>
    h1{
        color: rgb(247, 247, 247);
    }
</style>

<h1>Venues..</h1>
<br/>

{% for venue in venue_list %}
<div class="card">
    <div class="card-header">
       <h4> {{ venue }}</h4>
    </div>
    <div class="card-body">
        {%if user.is_staff %}
            <a href="{% url 'main:update-venue' venue.id %}"class="btn btn-outline-dark btn-sm">Update</a>
            <a href="{% url 'main:delete-venue' venue.id %}"class="btn btn-outline-danger btn-sm">Delete</a>
            {% endif %}
           
            <a href="{% url 'main:show-venue' venue.id %}" class="btn btn-outline-primary btn-sm">Show Venue</a>
            <br/>
            
        </div>
        
    </div>
    <br/><br/>
   
    {% endfor %}
</div>

{% endblock %}